version: '3.8'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tg_bot
    restart: unless-stopped
    volumes:
      - ./logs:/app/logs
    networks:
      - web
    env_file:
      - .env

  caddy:
    image: caddy:2.7-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - web

  db:
    image: postgres:15
    container_name: pg_db
    restart: always
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB: db_mexc_alert
    ports:
       - "5438:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - web

  redis:
    image: redis:7
    container_name: redis
    restart: always
    command: redis-server --requirepass "${REDIS_PASSWORD}"
    ports:
      - "6379:6379"
    networks:
      - web

volumes:
  caddy_data:
  caddy_config:
  pgdata:

networks:
  web:
    driver: bridge
